<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="msapplication-TileColor" content="#ffffff" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet" />

  </head>
  <script>
    $(function() {
      // Estimate how "visibile" an element is
      $.fn.visibility_heuristic = function() {
        let element_top = this.offset().top;
        let element_bottom = element_top + this.height();
        let window_top = $(window).scrollTop();
        let window_bottom = $(window).scrollTop() + $(window).height();
        let visible_height = Math.min(element_bottom, window_bottom) - Math.max(element_top, window_top);
        visible_height = Math.max(0, visible_height);
        return Math.max(visible_height / this.height(), visible_height / $(window).height());
      }

      // Smooth scroll
      $('a[href^="#"]').click(function(event) {
        {%- if site.matomo_url %}
        _paq && _paq.push(['trackLink', $.attr(this, 'href'), 'link']);
        {%- endif %}
        event.preventDefault();
        $('body, html').stop().animate({
          scrollTop: $($.attr(this, 'href')).offset().top
        }, 500);
      });

      // Some logic for updating the table of contents numbering
      // Happens at 10Hz to make the rendering job a little easier for the browser
      let ScrollEnum = {STABLE: 1, DIRTY: 2, FLUSHED: 3};
      let scroll_status = ScrollEnum.STABLE;
      $(window).on('scroll resize', function(){
        if ($(window).width() <= 720) {
          // Show "scroll to top" button when nav is invisible
          let nav_vis = $('#site-header').visibility_heuristic() * 100;
          $('#scroll-up').css('transform', 'translateY(' + nav_vis + '%)');
          return;
        }

        scroll_status = ScrollEnum.DIRTY;

        // Highlight nav links based on the visibility of their respective sections
        $('section').each(function(index) {
          let $li = $('a[href="#' + $(this).attr('id') + '"]').parent();
          let vis = ($li.data("visibility_buffer") || 0.0);
          let new_vis = Math.max(vis, $(this).visibility_heuristic());
          $li.data("visibility_buffer", new_vis);
        });
      });
      setInterval(function() {
        if ($(window).width() <= 720)
          return;

        switch(scroll_status) {
          case ScrollEnum.DIRTY:
            // Highlight nav links based on the visibility of their respective sections
            $('section').each(function(index) {
              let $li = $('a[href="#' + $(this).attr('id') + '"]').parent();
              let opacity = 0.2 + $li.data("visibility_buffer") * 0.4;
              let color = 'rgba(0, 0, 0, ' + opacity + ')';
              $li.css("color", color);
            });

            scroll_status = ScrollEnum.FLUSHED;
            break;
          case ScrollEnum.FLUSHED:
            $('section').each(function(index) {
              let $li = $('a[href="#' + $(this).attr('id') + '"]').parent();
              let opacity = 0.2 + $(this).visibility_heuristic() * 0.4;
              let color = 'rgba(0, 0, 0, ' + opacity + ')';
              $li.css("color", color);
              $li.data("visibility_buffer", 0.0);
            });

            scroll_status = ScrollEnum.STABLE;
            break;
          case ScrollEnum.STABLE:
            break;
        }
      }, 100);

      // Scroll status changes after LaTeX rendeirng -- update accordingly
      MathJax.Hub.Register.StartupHook("End",function () {
        $(window).scroll();
      });
    });
  </script>
  <body>
    {% assign sorted_sections = site.sections | sort:"order" | sort:"parent" %}
    <header id="site-header">
      <h1>{{ site.title }}</h1>
      <p>{{ site.description }}</p>
      <ol>
        {%- for section in sorted_sections %}
          <li><a href="#{{ section.title | slugify }}">{{ section.title }}</a></li>
        {%- endfor %}
      </ol>
    </header>
    <main>
      {%- for section in sorted_sections %}
        <section id="{{ section.title | slugify}}">
          {%- if section.hide_title == false or section.hide_title == null %}
            <h1>{{ section.title }}</h1>
          {%- endif %}
          {{ section.content }}
        </section>
      {%- endfor %}
    </main>
    <a id="scroll-up" href="#site-header">&uarr;</a>

    <!-- MathJax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

    {%- if site.matomo_url %}
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      // tracker methods like "setCustomDimension" should be called before "trackPageView"
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        let u="//{{ site.matomo_url }}/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '{{ site.matomo_site_id }}']);
        let d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
  {%- endif %}
  </body>
</html>
